#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main-content {
    padding: 10rem;
    max-width: 100rem;
}