* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Calibri, sans-serif;
    text-decoration: none;
    background-image: url("resources/img/deskFromAbove.jpg");
    background-size: cover;
    background-position: 0 center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: #0A111B;
}
